<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>$MAVEN_REPO_ID</id>
            <username>aws</username>
            <password>$CODEARTIFACT_AUTH_TOKEN</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>$MAVEN_REPO_ID</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>$MAVEN_REPO_ID</id>
                    <url>$MAVEN_REPO_URL</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
